* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
header {
  height: 50px;
  line-height: 20px;
  background-color: aquamarine;
}

.header-box {
  display: flex;
  width: 98%;
  padding: auto;
  height: 50px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.col {
  width: calc(100% / 5);
  border: 1px dashed black;
  background-color: orange;
}

.col-large {
  border: 1px dashed black;
  width: calc(100% / 2);
  background-color: orange;
}
/* /header */

/* main */
.container {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.flex-container {
  height: 350px;
}

.container-pink {
  background-color: palevioletred;
  height: 300px;
  width: 70%;
  margin: auto;
}

#blue {
  background-color: blue;
  height: 400px;
  display: flex;
  align-items: center;
}

.white {
  background-color: white;
}

#lightblue {
  width: 60%;
  background-color: lightblue;
}

#lightpink {
  width: 40%;
  background-color: lightpink;
}

#grey {
  background-color: lightgray;
}

#green {
  background-color: lightgray;
  height: 600px;
  display: flex;
  align-items: center;
}

.container-green {
  background-color: green;
  height: 500px;
  width: 80%;
  margin: auto;
}

section {
  padding: 40px 0;
}
/* /main */

/* footer */
footer {
  background-color: rgb(43, 44, 42);
}

.ft-top {
  height: 400px;
  display: flex;
  width: 80%;
  padding-top: 5px;
  margin-bottom: 15px;
  margin: auto;
}

.ft-social {
  width: 30%;
  background-color: lightcoral;
  height: 300px;
  border: black dashed;
}

.ft-menu-box {
  width: 70%;
  background-color: lightseagreen;
  height: 300px;
}
.ft-menu-col {
  border: 1px dashed white;
  height: 300px;
  display: flex;
}

/* /footer */
