* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
header {
  height: 50px;
  line-height: 20px;
  background-color: aquamarine;
  padding: auto;
}

.header-box {
  display: flex;
  padding: auto;
  margin: auto;
  height: 50px;
  width: 90%;
  justify-content: center;
  align-items: center;
}

.col-logo {
  width: calc(100% / 5);
  border: 1px dashed black;
  background-color: orange;
  text-align: start;
}

.col-login {
  width: calc(100% / 5);
  border: 1px dashed black;
  background-color: orange;
  text-align: end;
}

.col-large {
  border: 1px dashed black;
  width: calc(100% / 2);
  background-color: orange;
  text-align: center;
}

/* /header */

/* main */
.container {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.container-pink {
  background-color: palevioletred;
  height: 300px;
  width: 70%;
  margin: auto;
}

.section-blue {
  background-color: blue;
  height: 400px;
  display: flex;
  align-items: center;
}

.section-white {
  background-color: white;
}

.container-white-img {
  width: 60%;
  background-color: lightblue;
  height: 350px;
}

.container-white-text {
  width: 40%;
  background-color: lightpink;
  height: 350px;
}

.section-grey-1 {
  background-color: lightgray;
}

.section-grey-2 {
  background-color: lightgray;
  height: 600px;
  display: flex;
  align-items: center;
}

.container-green {
  background-color: green;
  height: 500px;
  width: 80%;
  margin: auto;
}

section {
  padding: 40px 0;
}
/* /main */

/* footer */
footer {
  background-color: rgb(43, 44, 42);
}

.ft-top {
  height: 400px;
  display: flex;
  width: 80%;
  padding-top: 5px;
  margin-bottom: 15px;
  margin: auto;
}

.ft-social {
  width: 30%;
  background-color: lightcoral;
  height: 300px;
  border: black dashed;
  display: flex;
}

.ft-menu-box {
  width: 70%;
  background-color: lightseagreen;
  height: 300px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.ft-menu-col {
  border: 1px dashed white;
  height: 300px;
  width: 25%;
  padding-bottom: 20px;
}

.ft-bottom {
  padding-top: 10px;
}

.ft-bottom-content {
  background-color: aquamarine;
  height: 50px;
  display: flex;
  margin: auto;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.button {
  background-color: pink;
  border: black dashed;
  text-decoration: none;
}

/* /footer */
